.stage {
  position: relative;
  background-color: darkgrey;
  flex-grow: 1;
  display: flex;
}

.teacher {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  padding: 1rem 2rem;
  background-color:rgb(40, 100, 179);
  border-top: 2px solid rgb(180, 81, 81);
  font-size: 2rem;
  color: #eee;
  transform: translate(-50%, 0);
}