.sidebar {
  flex-grow: 1;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-box {
  overflow: scroll;
}

.input-box input {
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 8px 5px;
  font-size: 16px;
  border: 1px solid rgb(43, 127, 133);
  border-radius: 5px;
}