.sidebar {
  flex-grow: 1;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-box {
  overflow: scroll;
}

.input-box input {
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 8px 5px;
  font-size: 16px;
  border: 1px solid rgb(43, 127, 133);
  border-radius: 5px;
}

.menu {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  color: #555;
}

.menu-icon {
  display: inline-block;
  padding: 0 10px;
}

.active {
  border-bottom: 2px solid rgb(40, 100, 179);
  color: rgb(40, 100, 179);
}

@media only screen and (max-width: 580px) {
  .sidebar {
    max-height: 35vh;
    max-width: 100%;
  }
}