.participant {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  background-color: darkslategray;
  height: 100%;
}

.participant-title {
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

.participant-panel {
  padding: 1rem 1rem 0;
  width: 65%;
  margin: 0 auto;
  background-color:rgb(40, 100, 179);

}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  border-top: 2px solid rgb(180, 81, 81);
}

.icons {
  display: block;
  margin: .5rem 1rem;
}

.participant-image {
  margin-top: 6rem;
  justify-self: center;
  align-self: center;
  display: block;
}

.stageImage {
  border-radius: 50%;
  background-color: rgb(226, 166, 166);
}